<?php

declare(strict_types=1);

namespace Mostefa\MicroEcommerce;

/*
 * Local configuration overrides - make your adjustments here
 */
return [
    // Doctrine DBAL connection settings - for read model
    'doctrine' => [
        'connection' => [
            'default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'host' => '127.0.0.1',
                'port' => '3306',
                'user' => 'root',
                'password' => 'root',
                'dbname' => 'micro-ecommerce',
                'charset' => 'utf8',
                'driverOptions' => [
                    1002 => "SET NAMES 'UTF8'",
                ],
            ],
        ],
    ],
];
