<?php
/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

return [
    'em' => [
        'mongodb' => [
            'categoryMongoDb' => ['uri' => 'mongodb://mongodb/', 'database' => 'micro-ecommerce', 'collection' => 'category'],
            'productMongoDb' => ['uri' => 'mongodb://mongodb/', 'database' => 'micro-ecommerce', 'collection' => 'product'],
        ],
    ],

    'defaultParameters' => [
        'productsByCategoryId' => [
            'query' => [
                'page' => 1,
                'limit' => 20,
            ],
        ],
    ],
];

